name: Node.js CI - start

on: [push]

jobs:
  start:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.12.0]

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.22.19
    - run: export PATH=$HOME/.yarn/bin:$PATH
    - run: yarn
    - run: timeout 10 yarn start > timeout.10.yarn.start.txt || true
    - run: cat timeout.10.yarn.start.txt
    - run: cat timeout.10.yarn.start.txt | grep "Finished 'start' after"
